body {
  background-color: black !important;
  color: white !important;
}

.albumCard {
  height: 250px;
  width: 180px;
  background-color: rgb(24, 23, 23);
  cursor: pointer;
}
.albumCard span:first-child {
  font-size: 16px;
  font-weight: bold;
}
.albumCard span:last-child {
  font-size: 15px;
  color: grey;
}
.albumCard:hover {
  background-color: rgb(34, 32, 32) !important;
}
.albumPlayBtn {
  font-size: 40px;
  padding: 5px;
  position: absolute;
  border-radius: 50%;
  color: black;
  background-color: rgb(17, 214, 17) !important;
  right: 5%;
  bottom: 5%;
  display: none;
}
.albumCard :hover .albumPlayBtn {
  display: block;
}
