body {
  background-color: black !important;
  color: white !important;
}
:root {
  --secondary-background: #121212;
  --album-color: #1a1919;
  --album-hover: #212121;
  --green-color: #1db954;
}

.albumCard {
  height: 250px;
  width: 180px;
  background-color: var(--album-color);
  cursor: pointer;
}
.albumCard span:first-child {
  font-size: 16px;
  font-weight: bold;
}
.albumCard span:last-child {
  font-size: 15px;
  color: grey;
}
.albumCard:hover {
  background-color: var(--album-hover);
}
.albumPlayBtn {
  font-size: 40px;
  padding: 5px;
  position: absolute;
  border-radius: 50%;
  color: black;
  background-color: var(--green-color);
  right: 5%;
  bottom: 5%;
  display: none;
}
.albumCard :hover .albumPlayBtn {
  display: block;
}
.pointer {
  cursor: pointer;
}
.w-5 {
  width: 5%;
}
.w-95 {
  width: 95%;
}
.sideNav {
  background-color: var(--secondary-background);
  margin: 5px;
  border-radius: 10px;
}
.sideNavMain div:first-child {
  height: 15vh;
}
.sideNavMain div:last-child {
  height: 80vh;
}
.HomeSection {
  background-color: var(--secondary-background);
  height: 96vh;
  margin: 5px;
  border-radius: 10px;
}
.overflow-scoll-y {
  overflow-y: scroll;
  overflow-x: hidden;
}
.fs-7 {
  font-size: 13px;
}
.fs-8 {
  font-size: 12px;
}
